/*.note-editor {
  //position: relative;
  //height: 100% !important;
}


.codeview .x-form-field{
  position: relative;
  display: none;
}

.note-resizebar{

}*/

.note-statusbar{display:none;}
.note-editable{
  margin-bottom: -45px;
}
