/*
.ql-container.ql-snow {
  height: auto;
}
*/
.ql-editor {
  overflow-y: scroll;
}
.quill-editor-wrap {
  display: flex;
  background-color : white;
  width : 100%;
  flex-direction: column;
  overflow: hidden;
  .ql-container {
    flex: 1 1 100%;
    height: auto !important;
    overflow: hidden;
  }
}

.ql-toolbar.ql-disabled{
  background-color: #e1e1e1;
}

.ql-toolbar.ql-disabled {
  button, button:hover,button:focus {
    cursor : auto;
    color : black !important;
  }
}
