div .pmh-open-gis-container .map {
  width: 100%;
  height: 100%;
}

div .pmh-open-gis-container .map .base-map{
  width: 100%;
  height: 100%;
}

div .pmh-open-gis-container .map .open-layer{
  width: 100%;
  height: 100%;
}

.pmh-open-gis-container .pmh-select-popup{
  width: 100%;
  height: 100%;
}

.pmh-open-gis-container .pmh-click-popup{
  width: 100%;
  height: 100%;
}